<div class="flex w-full h-full">
  <div class="group transition-all hover:items-start w-16 hover:w-80 rounded-r-lg h-full items-center gap-5 px-2 py-5 flex flex-col bg-blue-500">
    <img src="assets/logo.svg" class="w-10 h-10" />
    <div class="flex flex-col gap-2 items-center group-hover:items-start w-full">
      <div class="flex w-fit gap-x-2 items-center">
        <div class="w-12 h-12 flex justify-center p-3 rounded text-lg items-center bg-blue-200">
          <i class="fa fa-solid fa-database text-blue-800"></i>
        </div>
        <p class="w-60 hidden group-hover:block text-lg text-white">Data</p>
      </div>
      <div class="flex w-fit gap-x-2 items-center">
        <div class="w-12 h-12 flex justify-center p-3 rounded text-lg items-center bg-blue-200">
          <i class="fa fa-solid fa-play text-blue-800"></i>
        </div>
        <p class="w-60 hidden group-hover:block text-lg text-white">Roll Mode</p>
      </div>
    </div>
  </div>
  <div class="w-full h-full"></div>
</div>
